* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Times New Roman", sans-serif;
}
body {
    background-image: url(img/Rome.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 60px 60px 0 60px;
}
header {
    margin-top: 30px;
    margin-left: 28px;
}
.logo a {
    color: #1e3d59;
    text-decoration: none;
    font-size: 3em;
    /* background: pink; */
    border-radius: 5px;
    padding: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
ul {
    display: flex;
}
li {
    list-style: none;
    margin-top: -60px;
}
li a {
    text-decoration: none;
    display: inline-block;
    padding-left: 65px;
    font-size: 1.3em;
    color: #5F4B8BFF;
}
section {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
}
h5 {
    font-size: 2.2em;
    color: whitesmoke;
    text-align: center;
    letter-spacing: 1px;
}
h2 {
    font-size: 2.5em;
    text-align: center;
    letter-spacing: 7px;
    line-height: 50px;
    color: #F0BC42;
}
span {
    font-style: oblique;
    font-size: 1.5em;
    color: #8E1F2F;
}
button {
    width: 150px;
    height: auto;
    padding: 0.4em;
    color: black;
    background: white;
    font-size: 21px;
    border-radius: 6px;
    box-shadow: none;
    margin-top: 40px;
    opacity: 0.6;
}
button:hover {
    background: black;
    color: whitesmoke;
    opacity: 1;
}
