/* #e52165 and #0d1137 */
:root {
    --primary-color: #e52165;
    --secondary-color: #0d1137;
    --tertiary-color: whitesmoke;
    --fourth-color: black;
}
.toggle-mode {
    --primary-color: #1d3c45;
    --secondary-color: #d2601a;
    --fourth-color: white;
}


* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#icon {
    width: 23px;
    cursor: pointer;
    left: 93%;
    top: 6.5%;
}
body {
    background: var(--primary-color);
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    margin-top: 30px;
    margin-left: 70px;
    width: 80%;
    display: inline-block;
    border: 2px solid var(--secondary-color);
    text-align: center;
    border-radius: 5px;
}
.logo a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--tertiary-color);
    letter-spacing: 3px;
}
.logo:hover , .logo a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
}
ul {
    display: flex;
    margin-right: 120px;
    margin-top: 30px;
}
li {
    list-style: none;
    width: 100px;
    height: auto;
    /* border: 2px solid black; */
    text-align: center;
    margin: 7px;
}
li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.3rem;
}
li a:hover {
    color: var(--tertiary-color);
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
img {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 350px;
    height: auto;
}
h2 {
    position: absolute;
    top: 55%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    word-spacing: 7px;
    color: var(--secondary-color);
}
p {
    position: absolute;
    top: 63%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
    color: var(--fourth-color);
}
button {
    position: absolute;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    bottom: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
button:hover {
    background: var(--secondary-color);
    color: var(--tertiary-color);
}